section.offers-page
    .container
        .section-title.offers-page__title Акции в Разгоне
    .container
        .row
            .col-md-8
                .offers-page__item-wrapper
                    .offers-page__image
                        img(src="img/offers/1.jpg" alt="")
                    a(href="#").offers-page__link Школьные дни
                    .offers-page__text.
                        Безлимит для школьников по понедельникам и вторникам всего за 350 ₽     
            .col-md-4
                .offers-page__item-wrapper
                    .offers-page__image
                        img(src="img/offers/2.jpg" alt="")
                    a(href="#").offers-page__link Студенческие дни
                    .offers-page__text.
                        Безлимит для студентов со вторника по четверг всего за 350 ₽
        .row
            .col-md-4
                .offers-page__item
                    .offers-page__inner
                        a(href="#").offers-page__item-title.
                            1+1
                        .offers-page__item-text.
                            При покупке любого тарифа в субботу 
                            и воскресение после 19:00, дарим точно такой же тариф на рабочий день
            .col-md-4
                .offers-page__item
                    .offers-page__inner
                        a(href="#").offers-page__item-title.
                            Батутное утро
                        .offers-page__item-text.
                            Дарим дополнительные 30 минут при покупке билета с понедельника по четверг с 10:00 до 14:00 

            .col-md-4
                .offers-page__item
                    .offers-page__inner
                        a(href="#").offers-page__item-title.
                            Спортивная пятница
                        .offers-page__item-text.
                            В пятницу при покупке индивидуальной тренировки дарим 1 час свободного посещения
        .row
            .col-md-8
                .offers-page__item-wrapper
                    .offers-page__image
                        img(src="img/offers/3.jpg" alt="")
                    a(href="#").offers-page__link Больше детей — больше прыжков
                    .offers-page__text.
                        Специальное предложение для многодетных семей: платите за 1 час — прыгаете 2. Платите за 2 часа — прыгайте весь день!
                    .offers-page__helper.
                        При покупке покажите паспорт с тремя и более детьми, либо удостоверение многодетной семьи        
            .col-md-4
                .offers-page__item-wrapper
                    .offers-page__image
                        img(src="img/offers/4.jpg" alt="")
                    a(href="#").offers-page__link Именинник — бесплатно
                    .offers-page__text.
                        При заказе программы Дня рождения от 6 человек, именинник проходит бесплатно.
        .row
            .col-md-8
                .offers-page__item-wrapper
                    .offers-page__image
                        img(src="img/offers/5.jpg" alt="")
            .col-md-4
                .offers-page__item-wrapper
                    a(href="#").offers-page__link Плазиус
                    .offers-page__text.
                        Копи баллы и оплачивай 
                        до 30% билета бонусами                                          
section.map
    .map__info
        .map__info-title Мы ждем вас в гости
        .map__info-group
            .map__info-name Адрес
            .map__info-text.
                Нижний Новгород, ТРК "НЕБО", пл. Лядова <br>
                Как добраться: <a href="#">На машине</a>, <a href="#">Пешком</a> 
        .map__info-group
            .map__info-name Звоните нам         
            .map__info-text
                a(href="#").map__phone +7 831 4-222-999
        .map__info-group
            .map__info-name Пишите нам письма
            .map__info-text
                a(href="#").map__mail razgon.nnov@gmail.com       
    #map.map__wrapper    

section.offers
    .container.text-center
        a(href="#").offers__link     А еще у нас есть акции
