footer.wrapper.footer#footer
    .container
        .footer__wrapper
            .footer__menu
                ul.footer__menu-list
                    li.footer__menu-item
                        a(href="#").footer__menu-link Корпоратив
                    li.footer__menu-item    
                        a(href="#").footer__menu-link День рождения
                    li.footer__menu-item      
                        a(href="#").footer__menu-link Разгон-уикэнд
                ul.footer__menu-list
                    li.footer__menu-item
                        a(href="#").footer__menu-link Подарочный сертификат
                    li.footer__menu-item    
                        a(href="#").footer__menu-link Школьная группа
                    li.footer__menu-item      
                        a(href="#").footer__menu-link Разовые занятия       
            a(href="#").footer__logo                 
                img(src="img/logo.svg" alt="logo")
            .footer__copyright
                .footer__social
                    a(href="#").footer__social-link.footer__social-link--vk 
                    a(href="#").footer__social-link.footer__social-link--fb
                    a(href="#").footer__social-link.footer__social-link--tw     
                .footer__made-by
                    span Спроектировано  и реализовано
                    a(href="#").footer__made-link True Digital Agency
                    | и 
                    a(href="#").footer__made-link ЛидМашиной
