script(src="js/libs.js")
script(src="js/datepicker-ru.js")
script(src="js/common.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQRhqphYzT6Zhq7nsruc1YxwXvavio8R0&callback=initMap")
script(src="//localhost:35729/livereload.js")
